.style_13
  width: 100%
  padding: 0 0 0 0.5rem
  overflow: hidden
  background: #fff
  .box
    width: 31.5%
    margin-right: 0.3rem
    display: inline-block
    margin-bottom: 0.5rem
    .top
      width: 100%
      margin-bottom: 0.2rem
      position: relative
      .img
        width: 100%
        border-radius: 0.3rem
      .info
        position: absolute
        left: 0
        color: rgba(255, 255, 255, 1)
        font-size: 0.75rem
        bottom: 0
        width: 100%
        height: 2rem
        padding: 0.1rem 0
        line-height: 2rem
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)))
        border-radius: 0 0 0.3rem 0.3rem
        .iconleft
          background-image: url('../../../assests/images/headset.png')
          background-repeat: no-repeat
          background-size: 100%
          width: 0.7rem
          height: 0.7rem
          display: inline-block
          z-index: 3
          margin: 0 0.3rem
        .iconright
          float: right
          margin-right: 0.3rem
          background-image: url('../../../assests/images/play3x.png')
          background-repeat: no-repeat
          background-size: 100%
          width: 1.5rem
          height: 1.5rem
          display: inline-block
          z-index: 3
    .name
      font-size: 0.75rem
      color: #333
      overflow: hidden
      text-overflow: ellipsis
      -webkit-line-clamp: 2
      display: -webkit-box
      -webkit-box-orient: vertical
      padding: 0 0.15rem
      min-height: 2rem