.rankInfo
  width: 100%
  height: 100vh
  &.play
    padding-bottom: 4rem
  .top
    width: 100%
    height: 15rem
    position: relative
    .img
      width: 100%
      height: 100%
      object-fit: cover
    .time
      position: absolute
      left: 0
      bottom: 0px
      width: 100%
      height: 3rem
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0))
      .timeText
        margin-left: 1rem
        line-height: 3rem
        font-size: 0.9rem
        color: #fafff2
  .scrollStyle
    width: 100%
    height: 100%
    overflow: hidden
