.style_3
  width: 100%
  padding: 0 0 0 0.5rem
  overflow: hidden
  background: #fff
  margin-bottom: 0.5rem
  .box
    width: 100%
    margin-right: 0.3rem
    display: flex
    justify-content: flex-start
    margin-bottom: 0.5rem
    .img
      width: 4rem
      height: 4rem
      border-radius: 0.3rem
      margin-right: 0.6rem
    .right
      width: 15rem
      .name
        font-size: 0.9rem
        color: #333
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        padding: 0.3rem 0rem
        margin-top: 0.1rem
      .content
        color: #888
        font-size: 0.8rem