.style_6
  width: 100%
  padding: 0 0 0 0.5rem
  overflow: hidden
  background: #fff
  margin-bottom: 0.5rem
  .box
    width: 31.5%
    margin-right: 0.3rem
    display: inline-block
    margin-bottom: 0.5rem
    .img
      width: 100%
      border-radius: 0.3rem
    .songname
      font-size: 0.8rem
      color: #333
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      padding: 0 0.15rem
      margin-top: 0.35rem