.style_11
  width: 100%
  padding: 0 0 0 0.5rem
  overflow: hidden
  background: #fff
  margin-bottom: 0.5rem
  .box
    width: 31.5%
    margin-right: 0.3rem
    display: inline-block
    margin-bottom: 0.5rem
    .top
      width: 100%
      margin-bottom: 0.2rem
      position: relative
      .img
        width: 100%
        border-radius: 0.3rem
      .info
        position: absolute
        left: 0
        color: rgba(255, 255, 255, 0.7)
        font-size: 0.75rem
        bottom: 0
        width: 100%
        padding: 0.1rem 0
        background-color: rgba(0, 0, 0, 0.5)
        border-radius: 0 0 0.3rem 0.3rem
        .icon
          background-image: url('../../../assests/images/headset.png')
          background-repeat: no-repeat
          background-size: 100%
          width: 0.6rem
          height: 0.6rem
          margin-left: 0.3rem
          margin-right: 0.15rem
          display: inline-block
    .p
      font-size: 0.75rem
      color: #333
      overflow: hidden
      text-overflow: ellipsis
      -webkit-line-clamp: 2
      display: -webkit-box
      -webkit-box-orient: vertical
      padding: 0 0.15rem
      min-height: 2rem
