.style_16
  width: 100%
  padding: 0 0 0 0.5rem
  overflow: hidden
  background: #fff
  margin-bottom: 0.5rem
  .box
    width: 31.5%
    margin-right: 0.3rem
    display: inline-block
    margin-bottom: 0.5rem
    vertical-align: top
    .top
      width: 100%
      margin-bottom: 0.2rem
      position: relative
      .img
        width: 100%
        border-radius: 0.3rem
      .icon
        position: absolute
        right: 4%
        bottom: 4%
        background-image: url('../../../assests/images/play3x.png')
        background-repeat: no-repeat
        background-size: 100%
        width: 1.7rem
        height: 1.7rem
        display: inline-block
        z-index: 3
      .mask
        width: 100%
        position: absolute
        left: 0
        bottom: 0
        height: 2rem
        background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)))
    .songname
      font-size: 0.75rem
      color: #333
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      padding: 0 0.15rem
      margin-top: 0.35rem
    .singer
      font-size: 0.75rem
      color: #888
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap