.tabbar
  width: 100%
  background: #fff
  height: 3.2143rem
  line-height: 3rem
  box-shadow: 0 0.1785rem 0.1785rem 0 #f4f4f4
  text-align: center
  position: relative
  .tabbarItem
    width: 23%
    text-align: center
    display: inline-block
    color: #333
    font-size: 1.1429rem
    -webkit-box-sizing: border-box
    box-sizing: border-box
  .tabbarBottom
    width: 23%
    height: 0.2143rem
    background-color: #33a3f5
    transition: left 0.3s ease
    &.bottom0
      position: absolute
      bottom: 0
      left: 4%
      z-index: 3
    &.bottom1
      position: absolute
      bottom: 0
      left: 27%
      z-index: 3
    &.bottom2
      position: absolute
      bottom: 0
      left: 50%
      z-index: 3
    &.bottom3
      position: absolute
      bottom: 0
      left: 73%
      z-index: 3