.header
  width: 100%
  padding-top: 0.0357rem
  height: 3.2143rem
  line-height: 3rem
  background: #2ca2f9
  position: relative
  .logo
    width: 7.286rem
    height: 1.67857rem
    display: inline-block
    vertical-align: middle
    margin-left: 0.7143rem
    background: url('../../assests/images/logo.png') no-repeat
    background-size: 100%
  span
    display: inline-block
    width: 5.7143rem
    height: 1.7143rem
    line-height: 1.7143rem
    margin-left: 0.7143rem
    border: 1px solid #fff
    border-radius: 0.3571rem
    text-align: center
    color: #fff
    font-size: 0.8571rem
  .btnSearch
    width: 1.2143rem
    height: 1.2143rem
    background: url('../../assests/images/search.png') no-repeat
    background-size: 100%
    position: absolute
    top: 1rem
    right: 0.7143rem
    cursor: pointer