.search
  width: 100%
  height: 100vh
  padding-top: 3rem
  &.play
    padding-bottom: 4rem
  .scrollStyle
    width: 100%
    height: 100%
    overflow: hidden
  .hot
    color: #333
    .hotTitle
      height: 2.5rem
      line-height: 2.5rem
      padding-left: 2rem
      border-bottom: 1px solid #ccc
      font-size: 0.9rem
      color: #2ca3f5
    .hotItem
      height: 3.2rem
      padding-left: 2rem
      line-height: 3.2rem
      border-bottom: 1px solid #e5e5e5
      display: block
      color: #333
      font-size: 1.2rem
  .result
    .resultTitle
      height: 1.5714rem
      line-height: 1.5714rem
      background: #e6e6e6
      padding: 0 1.3rem 0 0.9rem
      font-size: 0.7857rem
      color: #5d5d5d
      display: flex
      justify-content: space-between
  .searchBox
    padding: 0.7143rem
    background: #fbfbfb
    .searchForm
      position: relative
      .searchIcon
        position: absolute
        top: 0.1rem
        left: 0.3rem
        background-image: url('../../assests/images/search_icon.png')
        background-repeat: no-repeat
        background-size: 100%
        background-position: center center
        display: block
        width: 1.2rem
        height: 1.7rem
      .searchInput
        padding: 0.4rem 0.0714rem 0.4rem 1.7rem
        margin-right: 5%
        display: inline-block
        vertical-align: middle
        border: 1px solid #e5e5e5
        border-radius: 5px
        width: 75%
        font-size: 1rem
      .searchButton
        width: 17.25%
        height: 2.0714rem
        line-height: 2.0714rem
        border: none
        border-radius: 5px
        display: inline-block
        vertical-align: middle
        font-size: 1rem
        text-align: center
        background: #2ba2fa
        color: #fff