.style_15
  width: 100%
  padding: 0 0 0 0.5rem
  overflow: hidden
  background: #fff
  margin-bottom: 0.5rem
  .box
    width: 100%
    margin-right: 0.3rem
    display: flex
    justify-content: space-between
    margin-bottom: 0.3rem
    .left
      flex: 0 0 7.5rem
      margin-right: 0.5rem
      position: relative
      .img
        width: 100%
        border-radius: 0.3rem
      .icon
        right: 4%
        bottom: 4%
        position: absolute
        background-image: url('../../../assests/images/play3x.png')
        background-repeat: no-repeat
        background-size: 100%
        width: 2rem
        height: 2rem
        display: inline-block
    .right
      flex: 1
      overflow: hidden
      text-overflow: ellipsis
      padding: 0 0.15rem
      .title
        font-size: 1.1rem
        color: #333
        font-weight: bold
        margin: 0.35rem auto 0.5rem
      .text
        font-size: 0.75rem
        color: #888
        padding: 0.3rem 0
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
