.songInfo
  width: 100%
  padding-top: 3rem
  height: 100vh
  .filter
    width: 100%
    height: 100vh
    position: fixed
    top: 0px
    left: 0px
    background: url('../../assests/images/logo_kugou.png') no-repeat center center
    background-size: cover
    filter: blur(3px)
    z-index: -1
  .bgc
    width: 100%
    height: 100vh
    position: fixed
    top: 0px
    left: 0px
    background-color: rgba(0, 0, 0, 0.5)
    z-index: -1
  .content
    width: 100%
    height: 100%
    color: #fff
    text-align: center
    overflow: hidden
    position: relative
    .lyric
      height: 70%
      margin: 5% 0
      text-align: center
      overflow: hidden
      .all
        padding: 50% 0
        .item
          padding: 7px 2rem
          color: #afabac
          &.active
            color: #d1c90e
    .bottom
      height: 9rem
      width: 100%
      position: absolute
      bottom: 0
      left: 0px
      .timeWrap
        width: 100%
        height: 3rem
        text-align: center
        margin-bottom: 0.5rem
        padding: 0.9rem 0.7rem
        display: flex
        align-items: center
        .timeshow
          font-size: 0.6428rem
          color: #dcdcdc
          flex: 0 0 2rem
        .progressWrap
          flex: 1
          height: 0.1785rem
          margin: 0 0.9rem
          background: #6c6b70
          position: relative
          z-index: 100
          .progress
            position: absolute
            top: 0
            left: 0
            display: block
            background: #3195fd
            height: 100%
            span
              position: absolute
              top: 50%
              right: -0.4rem
              margin-top: -0.3572rem
              width: 0.7143rem
              height: 0.7143rem
              display: block
              background: #3195fd
              border-radius: 100%
        .time
          flex: 0 0 2rem
          font-size: 0.6428rem
          color: #dcdcdc
      .playOperate
        width: 100%
        height: 4rem
        text-align: center
        .btnPrev
          background: url('../../assests/images/play_prev.png') no-repeat
          background-size: 100%
          width: 3rem
          height: 3rem
          margin: 0 1rem
          display: inline-block
          vertical-align: middle
        .btnPlayPause
          width: 4rem
          height: 4rem
          margin: 0 1rem
          display: inline-block
          vertical-align: middle
          &.play
            background: url('../../assests/images/play_pause.png') no-repeat
            background-size: 100%
          &.pause
            background: url('../../assests/images/play_play.png') no-repeat
            background-size: 100%
        .btnNext
          background: url('../../assests/images/play_next.png') no-repeat
          background-size: 100%
          width: 3rem
          height: 3rem
          margin: 0 1rem
          display: inline-block
          vertical-align: middle